<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SMS_PORT_NAME" value="COM8"/>
    <add key="SMS_BAUD_RATE" value="38400"/>
    <!--<add key="SMS_Handler" value=""/>-->
    <add key="SMS_SERVICE_PORT" value="12568"/>
    <add key="SMS_SERVICE_NAME" value="sms_service"/>
  </appSettings>
  
</configuration>